@using RamsesEntities.Concrete
@model List<Blog>

@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Blog Posts</h3>
        <div class="inner-sec">
            <!--left-->
            <div class="left-blog-info-w3layouts-agileits text-left">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 card">
                            <a asp-controller="Blog" asp-action="/BlogDetail/@item.ID">
                                <img src="@item.ImageUrl" class="card-img-top img-fluid" alt="">
                            </a>
                            <div class="card-body">
                                <ul class="blog-icons my-4">
                                    <li>
                                        <a href="#">
                                            <i class="far fa-calendar-alt"></i> @(((DateTime)item.CreateDate).ToString("dd MMM yyyy"))  @*tarih formatı - 01 ocak 2020 - *@
                                        </a>
                                    </li>
                                    <li class="mx-2">
                                        <a href="#">
                                            <i class="far fa-comment"></i> 0
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Blog" asp-action="#">
                                            <i class="fas fa-eye"></i> @item.Category.Name
                                        </a>
                                    </li>

                                </ul>
                                <h5 class="card-title ">
                                    <a asp-controller="Blog" asp-action="/BlogDetail/@item.ID">@item.Title</a>
                                </h5>
                                <p class="card-text mb-3">@item.Content.Substring(0, item.Content.Substring(0, 100).LastIndexOf(" "))... </p>
                                <a asp-controller="Blog" asp-action="/BlogDetail/@item.ID" class="btn btn-primary read-m">Devamını Oku</a>
                            </div>
                        </div>
                    }
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-left mt-4">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"><<<</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"> >>> </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!--//left-->
            </div>
        </div>
    </div>
</section>

